*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #000;
    color: #fff;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/saiteja1.JPG);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 5px 5%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 130px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
}
nav ul li a {
    color :#ffffff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after {
    content: " ";
    width: 100px;
    height: 3px;
    background: #ff004f;
    background-position: absolute;
    left: 0;
    bottom: -6px;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}  
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff004f;
} 
#about {
    padding: 80px 0;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff ;

}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents span {
    color: #ff004f
}
/* -----------------skills------------- */
.skills-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
   }
   
   
   
    .section {
       padding: 50px 20px;
       max-width: 1000px;
       margin: 0 auto;
   }
   
   .skills-container {
       display: flex;
       flex-wrap: wrap;
       gap: 20px;
   }
   
   .skill {
       flex: 1 1 calc(33% - 20px);
       background-color: #fff;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 10px 20px rgba(255, 255, 255, 0.253);
       text-align: center;
   }
   
   .skill img {
       width: 192px;
       height: 106px;
       margin-bottom: 10px;
       transition: all 0.3s ease; 
   }
   .skill img:hover{
     transform: scale(1.2); 
   
   }
   /* skills section ends */
   /* projects  */
   .p-heading{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 18px;
   }
   
   .p-container {
       display: flex;
       flex-wrap: wrap;
       gap: 20px;
   }
   
   .project{
       flex: 1 1 calc(33% - 20px);
       background-color: #fff;
       color: #000;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 10px 20px rgba(255, 255, 255, 0.253);
       text-align: center;
   }
   
   .project img {
       width: 200px;
       height: 150px;
       margin-bottom: 10px;
       transition: all 0.3s ease; 
   
   }
   .project img:hover{
     
       transform: scale(1.2); 
     
     }
   
   /* projects ends here */
   /* contact */
   .contact{
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .contact-item{
         display: flex ;
         align-items: center;
         justify-content: center;
         padding: 13px;
         
   }
   .contact-item a {
     color:#fff;
   }
   .icons {
     display: flex;
     justify-content: space-around;
     margin: 20px;
     justify-items: center;
   }
   
   .icons img {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    justify-items: center;

   }
   .icons a {
     font-size: x-large;
     color : #fff;
     transition: all 0.3s ease; 
   }
   
   .icons a:hover {
     transform: scale(1.2); 
     color: gold; 
   }
   
   
   
   
   /* footer */
   
   .footer-content{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: burlywood;
     height: 45px;
     box-sizing: border-box;
   
   }
   